<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <title>Scan.fr</title>
</head>

<body>
  <header>
    <label class="submenu" for="nav">
      <img src="./images/list.png" alt="">
    </label>
    <div class="logo-container">
      <img class="logo" src="./images/Logo.png" alt="">
    </div>
    <input type="checkbox" id="nav">
    <nav>
      <div class="navigation">
        <a href="acceuil.html" class="n-name"><span>Acceuil</span></a>
        <a href="planning.html" class="n-name"><span>Planning</span></a>
        <a href="mangas.html" class="n-name"><span>Mangas</span></a>
        <a href="nous_rejoindre.html" class="n-active"><span>Nous rejoindre</span></a>
      </div>
      <div class="compte">
        <a href="connexion.html" class="connexion"><span>Connexion</span></a>
      </div>
      <div class="socials">
        <a href="https://github.com/Sami-benyounes/scan-fr"><i class="fab fa-github-square"></i></a>
      </div>
    </nav>
  </header>

  <div class="mangas-container">
    <div class="main-mangas">
      <div class="joins-us-box">
        <div class="content">
          <h3>Nous rejoindre</h3>
          <p>
            L’équipe cherche constamment à se renouveler. C’est pourquoi nous recrutons à divers postes. Si vous vous
            sentez l’âme d’un aventurier, que vous avez du temps de disponible et que vous êtes prêt à faire un bout de
            chemin avec nous, n’hésitez pas à postuler. Néanmoins, bien que le scantrad reste une activité qui se base
            sur le volontariat, nous demandons un réel engagement. Ne postulez pas si vous n’êtes pas prêt à donner du
            temps pour les autres. Car après tout, traduire des mangas, c’est donner un peu de joie chez nos lecteurs.
          </p>

          <p>
            Nous recrutons de préférence des personnes qui ont déjà de l’expérience. Cependant, nous pourrions vous
            former si vous remplissez les critères suivants :
          </p>

          <ul>
            <li>Disponible régulièrement tout au long de la semaine</li>
            <li>Disponible le jeudi en fin de matinée jusqu’au soir</li>
          </ul>
          <h4>Comment postuler ? Comment obtenir de l’aide ?</h4>

          <p>
            Si vous souhaitez postuler, vous pouvez dès à présent nous rejoindre sur le <a
              href="https://discord.gg/Whxkhfkr">serveur Discord.</a>
            Prenez cependant le temps de consulter divers tutoriaux ainsi que bien lire les informations ci-dessous
            avant.
          </p>

          <p>
            Pour celles et ceux qui souhaiteraient des conseils, le channel <span class="strong">#recrutement</span> sur
            le <a href="https://discord.gg/Whxkhfkr">serveur Discord</a> est fait pour vous. Une personne de l’équipe,
            lorsqu’elle a le temps, prendra quelques minutes pour vous conseiller du mieux qu’elle peut. Merci de rester
            patient, nous avons énormément de mangas sur lesquels nous travaillons, nous ne pouvons pas libérer autant
            de temps que nous aurions voulu pour prendre soin de nos postulants.
          </p>

          <h4>édition</h4>

          <p>
            L’édition est le poste où nous recrutons le plus. Il s’agit de prendre le temps de mettre le texte sur les
            pages, d’adapter la taille de chaque texte ainsi que sa forme pour obtenir un résultat final agréable
            visuellement et facile à lire. Nous utilisons Photoshop ainsi qu’une multitudes de polices.
          </p>

          <p>
            Le test <a href="">se trouve ici</a>, vous pouvez le télécharger, le pratiquer, puis lorsque vous êtes sûr,
            venir sur le <a href="https://discord.gg/Whxkhfkr">serveur Discord</a> pour nous envoyer votre test. Merci
            de
            bien vouloir préciser dans le salon recrutement que vous avez fait le test de recrutement et que vous
            souhaitez un salon pour en discuter.
          </p>

          <h4>Correction</h4>

          <p>
            Plus communémment appelé “check” ou “checkeur” pour désigner la personne qui s’en charge, ce poste est très
            important dans l’élaboration d’un chapitre. Il s’assure de lire la traduction une fois terminée pour
            corriger les fautes d’orthographe, de grammaire, mais aussi vérifier le sens quand cela est nécessaire.
          </p>

          <p>
            Il est donc important d’avoir un niveau très élévé en français et une bonne maîtrise de la langue anglaise
            et / ou japonaise. Le test se trouve ici, prenez le temps, la difficulté du test ne reflète pas le niveau
            d’écriture de nos traducteurs, mais nous permet cependant de vérifier votre niveau. Il n’y a pas de limite
            de temps sur la première partie, soyez minutieux. L’envoi du test fini se fera par le <a
              href="https://discord.gg/Whxkhfkr">serveur Discord</a>. Contactez un administrateur ou un checkeur.
          </p>

          <h4>Traduction anglais =&gt; français / japonais =&gt; français</h4>

          <p>
            Il va sans dire que le travail de traducteur est essentiel. La tâche du traducteur est d’adapter le texte
            anglais ou japonais pour garder quelque chose de cohérent sans que se soit trop littéraire. Ne traduisez pas
            mot à mot. Ce n’est pas ce que nous recherchons.
          </p>

          <p>
            Pour postuler, nous vous invitons à traduire un chapitre d’un manga en anglais qui n’est pas traduit en
            français. Nous évaluerons votre niveau sur cette performance. Pour nous joindre le test, nous vous invitons
            à venir sur le <a href="https://discord.gg/Whxkhfkr">serveur Discord</a> et à contacter un administrateur ou
            un traducteur.
          </p>

          <h4>Bonne chance</h4>

          <p>
            Nous espérons très bientôt vous compter dans nos rangs. Traduire, partager, et apprendre dans les mangas est
            une sacrée expérience. Nous sommes une équipe soudée et nous espérons devenir de plus en plus nombreux pour,
            par la suite, proposer de plus en plus de mangas. Alors au nom de toute l’équipe, bonne chance et bon
            courage pour les tests !
          </p>

        </div>
      </div>
      <% 
      var data = [
      { name: "Ace novel", avancement : "Traduction en cours", image : "./images/ace-novel.png"  },
      { name: "Berserk", avancement : "Edition en cours", image : "./images/ace-novel.png" },
      { name: "Black Clover" , avancement : "En attente du prochain chapitre", image : "./images/ace-novel.png"},
      { name: "Blue Lock", avancement : "Traduction en cours", image : "./images/ace-novel.png" },
      { name: "Demon Slayer" , avancement : "En attente du prochain chapitre", image : "./images/ace-novel.png"},
      { name: "Dr. Stone", avancement : "Edition en cours", image : "./images/ace-novel.png" },
      { name: "Haikyuu" , avancement : "En attente du prochain chapitre", image : "./images/ace-novel.png"},
      { name: "Hajime no Ippo" , avancement : "Traduction en cours", image : "./images/ace-novel.png"},
      { name: "Kenga Ashura" , avancement : "En attente du prochain chapitre", image : "./images/ace-novel.png"},
      { name: "Kingdom" , avancement : "En attente du prochain chapitre", image : "./images/ace-novel.png"},
      ];
      %>
      <div class="manga-progress-chapter">
        <h2>AVANCEMENTS DES CHAPITRES</h2>
        <% for(var i=0; i < data.length; i++) { %>
        <div class="manga-traduction">
          <div class="progress-trad">
            <div class="m-etat-name">
              <%= data[i].name %> :
              <% if (data[i].avancement === "Edition en cours") { %>
              <span class="edit m-etat"><%= data[i].avancement %></span>
              <%} else if(data[i].avancement === "Traduction en cours"){ %>
              <span class="trad m-etat"><%= data[i].avancement %></span>
              <% }else { %>
              <span class="m-etat"><%= data[i].avancement %></span>
              <% } %>
            </div>
            <div class="m-progress">
              <% if (data[i].avancement === "Edition en cours") { %>
              <div class="edit m-progress-statut"></div>
              <%} else if(data[i].avancement === "Traduction en cours"){ %>
              <div class="trad m-progress-statut"></div>
              <% }else { %>
              <div class="m-progress-statut"></div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>


</body>

</html>