<footer>
  <div class="container-up">
    <div class="partenair">
      <h3>Nos amis</h3>
      <ul>
        <li>Kangaryu Team</li>
        <li>Scan-Manga</li>
        <li>Furyo Squad</li>
      </ul>
    </div>
  </div>
  <div class="container-down">
    <div class="copyright">Scan.fr © 2021.</div>
    <div class="social-media">
      <a href="https://github.com/Sami-benyounes/scan-fr" class="circle">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>