    .last-release {
      width: 50%;
      flex-shrink: 0;
      padding-right: 20px;

      h2 {
        color: #413d52;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        padding: 20px 0;
      }

      .new-chap {
        background: #eca29e;
      }

      .home-manga {
        display: flex;
        align-items: center;
        background: #ff0040;
        justify-content: space-between;
        color: #fff;
        padding: 0 10px 0 0;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 100px 5px 5px 100px;
        text-decoration: none;
        cursor: pointer;

        .manga-image-info {
          display: flex;
          align-items: center;
          color: #fff;

          .m-image {
            height: 65px;
            width: 65px;
            position: relative;
            margin-right: 15px;
            border-radius: 100px;

            img {
              width: inherit;
              height: inherit;
              object-fit: cover;
              position: relative;
              z-index: 100;
              border-radius: 100px;
              object-position: center;
            }
          }

          .m-image::after {
            position: absolute;
            height: 65px;
            width: 65px;
            content: "";
            left: 3px;
            border-radius: 100px;
          }

          .m-info {
            font-size: 18px;

            .m-title {

              span {
                font-weight: 700;
              }
            }

            .m-sub {
              font-size: 16px;
            }
          }
        }

        &:hover {
          background: #eca29e;
        }
      }
    }