<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <title>Scan.fr</title>
</head>

<body>
  <header>
    <label class="submenu" for="nav">
      <img src="./images/list.png" alt="">
    </label>
    <div class="logo-container">
      <img class="logo" src="./images/Logo.png" alt="">
    </div>
    <input type="checkbox" id="nav">
    <nav>
      <div class="navigation">
        <a href="acceuil.html" class="n-name"><span>Acceuil</span></a>
        <a href="planning.html" class="n-name"><span>Planning</span></a>
        <a href="mangas.html" class="n-name"><span>Mangas</span></a>
        <a href="nous_rejoindre.html" class="n-name"><span>Nous rejoindre</span></a>
      </div>
      <div class="compte">
        <a href="connexion.html" class="connexion"><span>Connexion</span></a>
      </div>
      <div class="socials">
        <a href="https://github.com/Sami-benyounes/scan-fr"><i class="fab fa-github-square"></i></a>
      </div>
    </nav>
  </header>

  <div class="connexion-container">
    <div class="connexion-form">
      <img src="./images/Logo.png" alt="">
      <form action="">
        <div class="co-pseudo">
          <label for="pseudo">Pseudo de connexion</label>
          <input required="" type="text" placeholder="Votre pseudo" name="pseudo">
        </div>
        <div class="co-mdp">
          <label for="mdp">Mot de passe</label>
          <input required="" type="password" placeholder="Votre mot de passe" name="mdp">
        </div>
        <button type="submit" class="connexion-btn">Connexion</button>
      </form>
    </div>
  </div>

</body>

</html>